@page "/clients"
@inject IClientService ClientService
@inject NavigationManager navMan



<div class="talent">


    @foreach (var client in ClientService.Clients)
    {
        <div class="talent_container">
            <div class="talent_info">
                @if (client.HasHeadShots == true)
                {
                    <div class="talent_headshot">
                        <img src="@client.ImageUrl" alt="@client.FirstName" />
                    </div>
                }
                else
                {
                    <div class="talent_headshot">
                        <img src="./images/admin/admin.png" alt="" />
                    </div>
                }
             

            </div>
               <div class="talent_stats">
                    <h4>@client.FirstName @client.LastName </h4>
                    <p>@client.Birthdate?.ToShortDateString()</p>
                    <p>@client.Age</p>
                    <p>@client.Email</p>
                </div>

            <div class="talent_submission">
                <label for="hasHeadshots">Has Headshots:</label>
                <input type="checkbox" id="hasHeadshots" @bind-value="client.HasHeadShots" checked="@(client.HasHeadShots?"checked": null)" />
                @(client.HasHeadShots?"Yes": "No")

                @if (client.CanSubmit()) //Might be better as a switch statement
                {
                    <p class="text-success">Can Submit</p>
                }
                else if (client.HasHeadShots == false)
                {
                    <p class="text-info">Missing Headshots</p>
                }
                else if (client.HasHeadShots == true && client.ClientIsMinor() == true)
                {
                    <p class="text-secondary">Needs approval</p>
                }
                else
                {
                    <p>No</p>
                }

                @if (client.ClientIsMinor())
                {
                    <p class="text-danger">Minor</p>

                }
                else
                {
                    <p class="text-success">Adult</p>

                }
            </div>




            <button class="btn btn-primary" @onclick="(() => ShowClient(client.Id))">
                <i class="oi oi-pencil">Edit</i>
            </button>



        </div>
    }


</div>
<button class="btn btn-primary" @onclick="AddNewClient">Add New Client</button>



@code {
    Client client = new Client();

    protected override async Task OnInitializedAsync()
    {
        await ClientService.GetClients();
    }

    void ShowClient(int id)
    {
        navMan.NavigateTo($"client/{id}");
    }
    void AddNewClient()
    {
        navMan.NavigateTo("client");
    }
}
