@page "/clients"
@inject IClientService ClientService
@inject NavigationManager navMan

<h3>Clients</h3>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Age</th>
            <th>Email</th>
            <th>Headshots</th>
            <th>Can Submit</th>
            <th>Minor</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var client in ClientService.Clients)
        {
            <tr>
                <td>@client.FirstName</td>
                <td>@client.LastName</td>

                 <td >@client.Birthdate?.ToShortDateString()</td>
                <td>@client.Age</td>

                <td>@client.Email</td>
                <td>
                    <input type="checkbox" @bind-value="client.HasHeadShots" checked="@(client.HasHeadShots?"checked": null)"  />
                    @(client.HasHeadShots?"Yes": "No")</td>
              
                @if (client.CanSubmit()) //Might be better as a switch statement
                {
                    <td class="text-success">Yes</td>
                }
                else if(client.HasHeadShots == false)
                {
                    <td class="text-info">Missing Headshots</td>
                }
                else if(client.HasHeadShots == true && client.ClientIsMinor() == true)
                {
                    <td class="text-secondary">Needs approval</td>
                }
                else
                {
                    <td>No</td>
                }

                @if(client.ClientIsMinor())
                {
                    <td class="text-danger">Minor</td>

                }
                else
                {
                    <td class="text-success">Adult</td>
                    
                }
              

                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowClient(client.Id))">
                        <i class ="oi oi-pencil">Edit</i>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick = "AddNewClient">Add New Client</button>
@code {
    Client client = new Client();
   
    protected override async Task OnInitializedAsync()
    {
        await ClientService.GetClients();
    }

    void ShowClient(int id)
    {
        navMan.NavigateTo($"client/{id}");
    }
    void AddNewClient()
    {
        navMan.NavigateTo("client");
    }
}
